body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #000000, #8B0000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
  }
  
  .logo {
    font-size: 36px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 30px;
  }
  
  .logo span {
    color: #FFD700;
  }
  
  .login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #a03737;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
  }
  
.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0 8px 0;
  border: 2px solid #a03737;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 16px;
  color: #fff;

}

.login-form button {
  width: 100%;
  padding: 12px;
  margin: 10px 0 8px 0;
  border: 2px solid #a03737;
  background-color: #211818;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.register-btn {
  background-color: #fff;
  color: #211818;
  border: 2px solid #a03737;
}

.login-form input::placeholder {
  color: #fff;
  opacity: 1;
}
  
  .register-btn {
    background-color: #ffffff;
    color: #211818;
  }
  
  .forgot-password {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .divider {
    margin: 20px 0;
    color: white;
    font-weight: bold;
  }

  .login-container img {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}




